:root{
    --primary-background-color:#2F303A;
    --background-color: #F5F5F5;
    --primary-color-text:#757575;
    --button-color:#2196F3;
    --title-color:#212121;
    --whrite:#ffffff;
    --black:#000000;
    --background-color-team:#F5F4FA;
    --one-time: 250ms;
    --two-time: cubic-bezier(0.4, 0, 0.2, 1);
}

html{
    box-sizing: border-box;
}

*,
::after,
::before{
    box-sizing: inherit;
}

body{
    font-family: 'Roboto',sans-serif;
    color:var(--primary-color-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

img{
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

p{
    margin: 0;
}

a{
    text-decoration: none;
}

img{
    display: block;
}